main{
    width:40vh;
    height:60vh;
    background-color:black;
    color:black;
    border-radius:30px;
    border:5px solid white;
    overflow:hidden;
    margin:10vh auto;
}
body{
    background-color:gray;
}
#display{
    height:25%;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    width:90%;
    margin:0 auto;
    padding-right:10px;
    text-align:right;
    box-sizing:border-box;
    font-weight:bold;
    font-size:30px;
    overflow:hidden;
}
.normalResult{
    font-size:clamp(30px,5vw,35px);
    font-weight:bold;
    transition: all 0.5s ease;
}
.normalOutput{
    color:gray;
    display:block;
    transition: all 0.5s ease;
    font-size:clamp(20px,4vw,25px);
}
#buttons{
    background-color:white;
    border-radius:20px;
    border-bottom-left-radius:0px ;
    width:100%;
    height:75%;
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
#buttons div{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:clamp(23px,4vw,30px);
    font-weight:bold;
}
#buttons div:hover{
    cursor:pointer
}

#equal{
    grid-row:span 2;
    grid-column:4;
    background-color:black;
    color:white;
    border-top-left-radius: 10px;
}
@media only screen and(max-width:480px){
    main{
        width:60vw;
        height:80vw;
    }
}